<div class="recipes__public">
<h2> Welcome to the Public Recipe Index </h2>

<% @recipes.each do |recipe| %>
  <div class="recipe_info">
   <div>
    <h3><%= link_to recipe.name, recipe_path(recipe.id) %></h3>
    <p>By: <%= recipe.user.name %> </p>
   </div>
  <div class="public_recipe_status">
  <p>Preparation time: <%= recipe.preparation_time%></p>
  <p>Cooking time: <%= recipe.cooking_time%></p>
  </div>
  </div>
  <% end %>
</div>