<h1> Welcome to the Food Index </h1>

<h2> Hello <%= current_user.name %> </h2>

<% if user_signed_in? %>
<div>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
</div>
<% else %>
<div class="container text-center">
<p><%= link_to "Sign Up", new_user_registration_path %></p>
<p><%= link_to "Sign In", new_user_session_path %></p>
</div>
<% end %>